body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #363636;
	background-image: linear-gradient(45deg, hsla(0, 0%, 0%, .25) 25%,
		transparent 25%, transparent 75%, hsla(0, 0%, 0%, .25) 75%,
		hsla(0, 0%, 0%, .25)), linear-gradient(45deg, hsla(0, 0%, 0%, .25) 25%,
		transparent 25%, transparent 75%, hsla(0, 0%, 0%, .25) 75%,
		hsla(0, 0%, 0%, .25));
	background-position: 0 0, 2px 2px;
	background-size: 4px 4px;
	color: white;
}


#button_content{
	float:left;
	margin-left: 5;
	height: 100%;
}

#today{
	float: right;
	text-align: center;
    margin-right: 0;
    text-transform: capitalize;
    height: 100%;
}


#month{
	display: inline-block;
	padding-top: 0.1em;
}

#digit{
	display: inline-block;
}
#day{
	color: #fd9f1b;
}


#current_weather_degree{
    font-size: 4em;
    letter-spacing: -0.05em;
    padding-left: .1em;
    padding-right: .1em;
    color: #fff;
}

#current_weather_icon img{
	margin: auto;
}

#current_weather_word {
    color: #fd9f1b;
    display: inline-block;
    padding-left: .5em;

}

#current_weather_link {
    z-index: 10;
    color: #fd9f1b;
    display: inline-block;
    padding-right: .5em;
}

#current_inside_degree{
    font-size: 6em;
    letter-spacing: -0.05em;
    padding-left: .1em;
    padding-right: .1em;
    margin-top: -25px;
    margin-bottom: -25px;
}
#current_inside_htsp{
	color: #ff8181;
}
#current_inside_clsp{
	color: #00e7ff
}

#current_weather_humid, #current_inside_humid{
	text-transform: capitalize;
	padding-bottom: 0.1em;
}

#humid_filter, #hvac_filter{
	text-transform: capitalize;
	font-size: 75%;
}


#profile{
	width: 100%;
}
#light_scene{
	width: 100%;
}
#heatpump{
	width: 100%;
}
#humidifer{
	width: 100%;
}
#inside{
    min-width: 12em;
}
#schedule_table{
	margin-left: auto;
    margin-right: auto;

}
.box_content{
	text-transform: uppercase;
	padding-left: 10px;
	padding-right: 10px;
}

#group{
	display: flex;
}

div.icon{
    font-size: 1.2em;
    display: block;
    margin-right: 10px;
    margin-bottom: 10px;
    /* height: 8em; */
    /* border-radius: 1.2em; */
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid;
    border-bottom-color: rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

div.icon strong {
    top: 0;
    padding-right: 1.0em;
    color: #2f2f2f;
    background-color: #737270;
    text-align: center;
    width: 100%;
}


div.icon * {
	display: block;
	font-weight: bold;
	font-style: normal;
}

div.icon span {
	/* margin-left: 20; */
	letter-spacing: -0.05em;
	padding-top: .5em;
	padding-bottom: .5em;
	color: #fff;
	text-transform: capitalize;
}

div.icon span p {
	margin-left: 35px;
	margin-top: 6px;
	padding-top: 2px;
	width: 370px;
}
img.user_icon{
	padding: 2px;
	margin: auto;
}

.home {
	color: #FFA500;
	font-size: 175%;
	text-shadow: 2px 2px 2px #AF3000;
}

.sleep, .cooling {
	color: #40BFFF;
	font-size: 175%;
	text-shadow: 2px 2px 2px #006FAF;
}

.wake, .error {
	color: #BF40FF;
	font-size: 175%;
	text-shadow: 2px 2px 2px #6F00AF;
}

.away, .unknown {
	color: #FFFF40;
	font-size: 175%;
	text-shadow: 2px 2px 2px #AFAF00;
}

.vacation, .heating {
	color: #FF4040;
	font-size: 175%;
	text-shadow: 2px 2px 2px #AF0000;
}

.manual {
	position: absolute;
	margin-top: 155;
	margin-left: 460;
	color: #00ff00;
	font-size: 22;
	text-shadow: 2px 2px 2px #009900;
}

.off {
	color: #c0c0c0;
	font-size: 175%;
	text-shadow: 2px 2px 2px #808080;
}

.on{
	color: #00ff00;
	font-size: 175%;
	text-shadow: 2px 2px 2px #008000;
}

a[href^=tel]{color: inherit; text-decoration: none;}

.rubber {
  box-shadow: 0 0 0 3px #f1e113, 0 0 0 2px #ff5200 inset;  
  border: 2px solid transparent;
  border-radius: 4px;
  display: inline-block;
  padding: 5px 2px;
  line-height: 22px;
  color: #00ff16;
  font-size: 24px;
  font-family: 'Black Ops One';
  text-transform: uppercase;
  text-align: center;
  opacity: 0.8;
  width: 155px;
  transform: rotate(15deg);
  margin-top: 110px;
  margin-left: 145px;
  position: absolute;
  
}

/*
#hvac_mode {
	float: left;
	position: relative;
}
*/

.auto {
	color: #ffffff;
}

.heat {
	color: red;
}

.cool {
	color: #40BFFF;
}

.fanonly {
	color: #ea7001;
}

.empty {
	color: #000;
}

#buttons {
	text-align: center;
	padding-top: .5em;
}

button {
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 15px;
	margin-right: 15px;
}

.button_label {
	font-size: 50%;
}

button:hover {
	outline: none;
}

button:active {
	outline: none;
}

/* 3D Button */
button.depth {
	background: #444;
	border: none;
	border-radius: 80px;
	box-shadow: inset 0 0 2px 2px hsla(0, 0%, 0%, .2), inset 0 0 2px 4px
		hsla(0, 0%, 0%, .2), inset 0 0 2px 6px hsla(0, 0%, 0%, .2), inset 0 0
		1px 8px hsla(0, 0%, 0%, .5), inset 0 -4px 2px 4px hsla(0, 0%, 0%, .5),
		inset 0 1px 1px 8px hsla(0, 0%, 100%, .25), inset 0 -30px 30px
		hsla(0, 0%, 0%, .2), 0 -4px 8px 4px hsla(0, 0%, 0%, .5), 0 10px 10px
		hsla(0, 0%, 0%, .25), 0 0 2px 2px hsla(0, 0%, 0%, .2), 0 0 2px 4px
		hsla(0, 0%, 0%, .2), 0 0 2px 6px hsla(0, 0%, 0%, .2), 0 0 2px 8px
		hsla(0, 0%, 0%, .5), 0 1px 2px 8px hsla(0, 0%, 100%, .25), 0 -1px 2px
		8px hsla(0, 0%, 0%, .5);
	cursor: pointer;
	font: bold 26px/17px sans-serif;
	height: 80px;
	padding: 0;
	text-shadow: 0 1px 1px hsla(0, 0%, 100%, .25), 0 -1px 1px
		hsla(0, 0%, 0%, .75);
	width: 80px;
}

button.depth:hover {
	color: #0ab;
	text-shadow: 0 0 20px hsla(240, 75%, 75%, .5), 0 1px 1px
		hsla(0, 0%, 100%, .25), 0 -1px 1px hsla(0, 0%, 0%, .75);
}

button.focus {
	outline: none;
}

button.depth:active {
	box-shadow: inset 0 0 2px 2px hsla(0, 0%, 0%, .2), inset 0 0 2px 4px
		hsla(0, 0%, 0%, .2), inset 0 0 2px 6px hsla(0, 0%, 0%, .2), inset 0 0
		1px 7px hsla(0, 0%, 0%, .5), inset 0 5px 15px 7px hsla(0, 0%, 0%, .15),
		inset 0 -4px 2px 3px hsla(0, 0%, 0%, .5), inset 0 1px 1px 7px
		hsla(0, 0%, 100%, .25), inset 0 -30px 30px hsla(0, 0%, 0%, .1), inset
		0 30px 30px hsla(0, 0%, 0%, .2), 0 -4px 8px 4px hsla(0, 0%, 0%, .5), 0
		5px 10px hsla(0, 0%, 0%, .25), 0 0 2px 2px hsla(0, 0%, 0%, .2), 0 0
		2px 4px hsla(0, 0%, 0%, .2), 0 0 2px 6px hsla(0, 0%, 0%, .2), 0 0 2px
		8px hsla(0, 0%, 0%, .5), 0 1px 2px 8px hsla(0, 0%, 100%, .25), 0 -1px
		2px 8px hsla(0, 0%, 0%, .5);
	line-height: 19px;
}

.button_green {
	color: #4CAF50;
} /* Blue */
.button_blue {
	color: #008CBA;
} /* Blue */
.button_red {
	color: #f44336;
} /* Red */
.button_gray {
	color: #303030;
} /* Gray */
.button_gold {
	color: #e5c100;
} /* Gold */
.button_black {
	color: #555555;
} /* Black */
.button_green_disabled{
	color: rgba(76,175,80,0.17);
}
/* dule seetings */
#dule {
	color: white;
}

#dule_table {
	color: white;
}

.active {
	color: red;
}

.circle {
	width: 20px;
	height: 20px;
	border-radius: 10px;
}

.circle_blue {
	background-color: #008CBA;
} /* Blue */
.circle_red {
	background-color: #f44336;
} /* Red */
.circle_gray {
	background-color: #C0C0C0;
	color: black;
} /* Gray */
.circle_black {
	background-color: #555555;
} /* Black */
.circle_gold {
	background-color: #e5c100;
} /* Gold */
.past_event {
	display: none;
}

.time {
	background-color: #e7e7e7; /* Green */
	border: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

#refresh {
    position: absolute;
    bottom: 10;
    color: #e7e7e7;
    font-size: 75%;
}

hr{
	border-color: #ea7001;
}


.disabled {
	color: #ffe200;
	font-size: 50%;
	position: absolute;
	margin-left: 16px;
	margin-top: 2px;
}

.led-box {
	width: 200px;
	margin-left: 50px;
}

#config_content {
	text-align: center;
}

#autorun_indicator, #hvac_indicator, #humid_indicator, #lights_indicator
	{
	margin-left: 10px;
	margin-top: -3;
}


#hvac_hold_mode {
	font-size: 75%;
}

#hold_indicator {
    display: inline-block;
}


.text-on {
	color: white;
	text-shadow: 1px 1px 1px #00ffff;
}

.text-off {
	color: #525151;
	text-shadow: 1px 1px 1px #808080;
}

#led-hold-text {
    padding-left: 3px;
    display: inline-block;

}

.led-off {
	margin: 0 auto;
	width: 12px;
	height: 12px;
	background-color: #0c232b;
	border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #cacbd0 0 -1px 9px,
		#000000 0 2px 5px;
}

.led-blue-small {
	margin: 0 auto;
	width: 12px;
	height: 12px;
	background-color: #13d7ec;
	border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #23678a 0 -1px 9px,
		#008cba 0 2px 5px;
			-webkit-animation: blinkBlue 1s infinite;
	-moz-animation: blinkBlue 1s infinite;
	-ms-animation: blinkBlue 1s infinite;
	-o-animation: blinkBlue 1s infinite;
	animation: blinkBlue 1s infinite;

}

@-webkit-keyframes blinkBlue {
	from { background-color:#13555d; }
	50% { background-color : #40bfff ; box-shadow : rgba (0,0,0,0.2) 0 -1px 7px 1px, inset #185258 0 -1px 9px, #18254a 0 2px 0;}
	to { background-color: #78a9ad; }
}
@-moz-keyframes blinkBlue {
	from { background-color:#13d7ec; }
	50% { background-color : #40bfff; box-shadow : rgba (0,0,0,0.2) 0 -1px 7px 1px, inset #185258 0 -1px 9px, #18254a 0 2px 0;}
    to { background-color: #78a9ad; }
}
@-ms-keyframes blinkBlue {
	from { background-color:#13d7ec; }
	50% { background-color : #40bfff; box-shadow : rgba (0,0,0,0.2) 0 -1px 7px 1px, inset #185258 0 -1px 9px, #18254a 0 2px 0;}
	to { background-color: #78a9ad; }
}
@-o-keyframes blinkBlue {
	from { background-color:#13d7ec;}
	50% { background-color : #40bfff; box-shadow : rgba (0,0,0,0.2) 0 -1px 7px 1px, inset #185258 0 -1px 9px, #18254a 0 2px 0;}
	to {	background-color: #78a9ad;}
}
@keyframes blinkBlue {
	from { background-color:#13d7ec;}
	50% { background-color : #40bfff; box-shadow : rgba (0,0,0,0.2) 0 -1px 7px 1px, inset #185258 0 -1px 9px, #18254a 0 2px 0;}
	to { background-color: #78a9ad;}
}
