/*@font-face { font-family: FontAwesome; src: url('fonts/FontAwesome.otf'); }*/
@font-face { font-family: Anglodavek; src: url('fonts/Anglodavek.otf'); }


body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #363636;
	background-image: linear-gradient(45deg, hsla(0, 0%, 0%, .25) 25%,
		transparent 25%, transparent 75%, hsla(0, 0%, 0%, .25) 75%,
		hsla(0, 0%, 0%, .25)), linear-gradient(45deg, hsla(0, 0%, 0%, .25) 25%,
		transparent 25%, transparent 75%, hsla(0, 0%, 0%, .25) 75%,
		hsla(0, 0%, 0%, .25));
	background-position: 0 0, 2px 2px;
	background-size: 4px 4px;
	color: white;
}

#door{
	float:left;
}

#button_content{
	float:left;
	height: 100%;
	clear: left;
}

#today{
	float: right;
	text-align: center;
    margin-right: 0;
    text-transform: capitalize;
    height: 100%;
}


#month{
	display: inline-block;
	padding-top: 0.1em;
}

#digit{
	display: inline-block;
}
#day{
	color: #fd9f1b;
}

.showTime{
	font-size: 12px;
    padding-right: 1em;
    
}
.showName{
	font-size: 12px;
}

#show{
    display: -webkit-box;
}
#day_header{
    padding-top: .5em;
    padding-bottom: .25em;
    display: inline-block;
    color: #d7982a;
}
#dvrIcon{
	display: inline-block;
	padding-right: .5em;
}
#dvr{
	text-transform: none;
}
.nextEvent{
    color: rgb(246, 167, 28);
    text-transform: none;
    font-size: .6em;
}
.nextIcon{
	color: red;
	padding-right: .5em;
}
#current_weather_degree{
    font-size: 4em;
    letter-spacing: -0.05em;
    padding-left: .1em;
    padding-right: .1em;
    color: #fff;
}

#current_weather_icon img{
	margin: auto;
}

#current_weather_word {
    color: #fd9f1b;
    display: inline-block;
    padding-left: .5em;

}

#current_weather_link {
    z-index: 10;
    color: #fd9f1b;
    display: inline-block;
    padding-right: .5em;
}

#current_inside_degree{
    font-size: 6em;
    letter-spacing: -0.05em;
    padding-left: .1em;
    padding-right: .1em;
    margin-top: -25px;
    margin-bottom: -25px;
	cursor: pointer;
   
}
#current_inside_htsp{
	color: #ff8181;
}
#current_inside_clsp{
	color: #00e7ff
}

#current_weather_humid, #current_inside_humid{
	text-transform: capitalize;
	padding-bottom: 0.1em;
}

#humid_filter, #hvac_filter{
	text-transform: capitalize;
	font-size: 75%;
}


#profile{
	width: 100%;
}

#light_scene{
	width: 100%;
}
#heatpump{
	width: 100%;
}
#humidifer{
	width: 100%;
}
#inside{
    min-width: 12em;
    max-height: 10em;
}
#schedule_table{
	margin-left: auto;
    margin-right: auto;

}
.box_content{
	text-transform: uppercase;
	padding-left: 10px;
	padding-right: 10px;
}

#group{
	display: flex;
}

div.icon{
    font-size: 1.2em;
    display: block;
    margin-right: 10px;
    margin-bottom: 10px;
    /* height: 8em; */
    /* border-radius: 1.2em; */
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid;
    border-bottom-color: rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

div.icon strong {
    top: 0;
    padding-right: 1.0em;
    color: #2f2f2f;
    background-color: #737270;
    text-align: center;
    width: 100%;
    letter-spacing: -0.05em;
}


div.icon * {
	display: block;
	font-weight: bold;
	font-style: normal;
}

div.icon span {
	/* margin-left: 20; */
	letter-spacing: -0.05em;
	padding-top: .5em;
	padding-bottom: .5em;
	color: #fff;
	text-transform: capitalize;
}

div.icon span p {
	margin-left: 35px;
	margin-top: 6px;
	padding-top: 2px;
	width: 370px;
}
img.user_icon{
	padding: 2px;
	margin: auto;
}

.home {
	color: #FFA500;
	font-size: 175%;
	text-shadow: 2px 2px 2px #AF3000;
}

.cooling{
	color: #40BFFF;	
	text-shadow: 2px 2px 2px #006FAF;
	display: inline-block;
}

.unknown{
	color: #FFFF40;
	text-shadow: 2px 2px 2px #AFAF00;
	display: inline-block;
}

.heating{
	color: #FF4040;
	text-shadow: 2px 2px 2px #AF0000;
	display: inline-block;
}
#hvac_icon{
	padding-top: 8px;
}
#humid_icon{
	padding-top: 8px;
}
#lights_text, #hvac_profile_mode{
	text-transform: capitalize;
	cursor: pointer;
}
.hpelectheat{
	margin-right: 22px;
}
.sleep, .cooling_icon {
	color: #40BFFF;
	font-size: 175%;
	text-shadow: 2px 2px 2px #006FAF;
}

.away, .error {
	color: #BF40FF;
	font-size: 175%;
	text-shadow: 2px 2px 2px #6F00AF;
}

.wake, .unknown_icon {
	color: #FFFF40;
	font-size: 175%;
	text-shadow: 2px 2px 2px #AFAF00;
}

.vacation, .heating_icon {
	color: #FF4040;
	font-size: 175%;
	text-shadow: 2px 2px 2px #AF0000;
}

.off, .manual {
	color: #c0c0c0;
	font-size: 175%;
	text-shadow: 2px 2px 2px #808080;
}

.on{
	color: #00ff00;
	font-size: 175%;
	text-shadow: 2px 2px 2px #008000;
}
#profile_box{
	font-size: 3em;
}

.profile_temps{
	display: inline-block;
}

#profile_chooser{
	text-align: right;
}
.htsp{

    color: red;
    margin-left: 10px;
    font-size: .4em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0);
}
.clsp{

    color: #13d7ec;
    margin-left: 10px;
    font-size: .4em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0);
}

a[href^=tel]{color: inherit; text-decoration: none;}

.rubber {
    box-shadow: 0 0 0 3px #f1e113, 0 0 0 2px #ff5200 inset;
    border: 2px solid transparent;
    border-radius: 4px;
    display: inline-block;
    padding: 5px 5px;
    line-height: 22px;
    color: #00ff16;
    font-size: 24px;
    font-family: 'Black Ops One';
    text-transform: uppercase;
    /* text-align: center; */
    /* opacity: 0.8; */
    /* width: 155px; */
    /* transform: rotate(15deg); */
    /* margin-top: 110px; */
    /* margin-left: 145px; */
    /* position: absolute; */
    margin-bottom: 7px;
}


.auto {
	color: #ffffff;
}

.heat {
	color: red;
}

.cool {
	color: #40BFFF;
}

.fanonly {
	color: #ea7001;
}

.empty {
	color: #000;
}

#buttons {
	text-align: center;
	padding-top: .2em;
}

button {
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 15px;
	margin-right: 15px;
}

.button_label {
	font-size: 50%;
}

button:hover {
	outline: none;
}

button:active {
	outline: none;
}

/* 3D Button */
button.depth {
	background: #444;
	border: none;
	border-radius: 80px;
	box-shadow: inset 0 0 2px 2px hsla(0, 0%, 0%, .2), inset 0 0 2px 4px
		hsla(0, 0%, 0%, .2), inset 0 0 2px 6px hsla(0, 0%, 0%, .2), inset 0 0
		1px 8px hsla(0, 0%, 0%, .5), inset 0 -4px 2px 4px hsla(0, 0%, 0%, .5),
		inset 0 1px 1px 8px hsla(0, 0%, 100%, .25), inset 0 -30px 30px
		hsla(0, 0%, 0%, .2), 0 -4px 8px 4px hsla(0, 0%, 0%, .5), 0 10px 10px
		hsla(0, 0%, 0%, .25), 0 0 2px 2px hsla(0, 0%, 0%, .2), 0 0 2px 4px
		hsla(0, 0%, 0%, .2), 0 0 2px 6px hsla(0, 0%, 0%, .2), 0 0 2px 8px
		hsla(0, 0%, 0%, .5), 0 1px 2px 8px hsla(0, 0%, 100%, .25), 0 -1px 2px
		8px hsla(0, 0%, 0%, .5);
	cursor: pointer;
	font: bold 26px/17px sans-serif;
	height: 80px;
	padding: 0;
	text-shadow: 0 1px 1px hsla(0, 0%, 100%, .25), 0 -1px 1px
		hsla(0, 0%, 0%, .75);
	width: 80px;
}

button.depth:hover {
	color: #0ab;
	text-shadow: 0 0 20px hsla(240, 75%, 75%, .5), 0 1px 1px
		hsla(0, 0%, 100%, .25), 0 -1px 1px hsla(0, 0%, 0%, .75);
}

button.focus {
	outline: none;
}

button.depth:active {
	box-shadow: inset 0 0 2px 2px hsla(0, 0%, 0%, .2), inset 0 0 2px 4px
		hsla(0, 0%, 0%, .2), inset 0 0 2px 6px hsla(0, 0%, 0%, .2), inset 0 0
		1px 7px hsla(0, 0%, 0%, .5), inset 0 5px 15px 7px hsla(0, 0%, 0%, .15),
		inset 0 -4px 2px 3px hsla(0, 0%, 0%, .5), inset 0 1px 1px 7px
		hsla(0, 0%, 100%, .25), inset 0 -30px 30px hsla(0, 0%, 0%, .1), inset
		0 30px 30px hsla(0, 0%, 0%, .2), 0 -4px 8px 4px hsla(0, 0%, 0%, .5), 0
		5px 10px hsla(0, 0%, 0%, .25), 0 0 2px 2px hsla(0, 0%, 0%, .2), 0 0
		2px 4px hsla(0, 0%, 0%, .2), 0 0 2px 6px hsla(0, 0%, 0%, .2), 0 0 2px
		8px hsla(0, 0%, 0%, .5), 0 1px 2px 8px hsla(0, 0%, 100%, .25), 0 -1px
		2px 8px hsla(0, 0%, 0%, .5);
	line-height: 19px;
}

.button_green {
	color: #4CAF50;
} /* Blue */
.button_blue {
	color: #008CBA;
} /* Blue */
.button_red {
	color: #f44336;
} /* Red */
.button_gray {
	color: #303030;
} /* Gray */
.button_gold {
	color: #e5c100;
} /* Gold */
.button_black {
	color: #555555;
} /* Black */
.button_green_disabled{
	color: rgba(76,175,80,0.17);
}

#lock_symbol{
	font-size: 122%;
    margin-top: -8px;
}
#vutton_lock_label{
	margin-top: -4px;
}

/* dule seetings */
#dule {
	color: white;
}

#dule_table {
	color: white;
}

.active {
	color: red;
}
td{
	text-transform: capitalize;
}
.tv {
	color: #008CBA;
	font-size: 18px;
	text-align: center;
} 
.hvac {
	color: #f44336;
	padding-right: .5em;
	font-size: 1em;

}
.light {
	color: #e5c100;
} 
.past_event {
	display: none;
	color: #555555;
}

#refresh {
    position: absolute;
    bottom: 10;
    color: #e7e7e7;
    font-size: 75%;
}

hr{
	border-color: #ea7001;
}


.disabled {
	color: #ffe200;
	font-size: 50%;
	position: absolute;
	margin-left: 16px;
	margin-top: 2px;
}

.led-box {
	width: 200px;
	margin-left: 50px;
}

#config_content {
	text-align: center;
}

#autorun_indicator, #hvac_indicator, #humid_indicator, #lights_indicator
	{
	margin-left: 10px;
	margin-top: -3;
}


#hvac_hold_mode {
	font-size: 75%;
}

#hold_indicator {
    display: inline-block;
}


.text-on {
	color: white;
	text-shadow: 1px 1px 1px #00ffff;
}

.text-off {
	color: #525151;
	text-shadow: 1px 1px 1px #808080;
}

#led-hold-text {
    padding-left: 3px;
    display: inline-block;

}

.led-off {
	margin: 0 auto;
	width: 12px;
	height: 12px;
	background-color: #0c232b;
	border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #cacbd0 0 -1px 9px,
		#000000 0 2px 5px;
}

.led-blue-small {
	margin: 0 auto;
	width: 12px;
	height: 12px;
	background-color: #13d7ec;
	border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #23678a 0 -1px 9px,
		#008cba 0 2px 5px;
			-webkit-animation: blinkBlue 1s infinite;
	-moz-animation: blinkBlue 1s infinite;
	-ms-animation: blinkBlue 1s infinite;
	-o-animation: blinkBlue 1s infinite;
	animation: blinkBlue 1s infinite;

}

@-webkit-keyframes blinkBlue {
	from { background-color:#13555d; }
	50% { background-color : #40bfff ; box-shadow : rgba (0,0,0,0.2) 0 -1px 7px 1px, inset #185258 0 -1px 9px, #18254a 0 2px 0;}
	to { background-color: #78a9ad; }
}
@-moz-keyframes blinkBlue {
	from { background-color:#13d7ec; }
	50% { background-color : #40bfff; box-shadow : rgba (0,0,0,0.2) 0 -1px 7px 1px, inset #185258 0 -1px 9px, #18254a 0 2px 0;}
    to { background-color: #78a9ad; }
}
@-ms-keyframes blinkBlue {
	from { background-color:#13d7ec; }
	50% { background-color : #40bfff; box-shadow : rgba (0,0,0,0.2) 0 -1px 7px 1px, inset #185258 0 -1px 9px, #18254a 0 2px 0;}
	to { background-color: #78a9ad; }
}
@-o-keyframes blinkBlue {
	from { background-color:#13d7ec;}
	50% { background-color : #40bfff; box-shadow : rgba (0,0,0,0.2) 0 -1px 7px 1px, inset #185258 0 -1px 9px, #18254a 0 2px 0;}
	to {	background-color: #78a9ad;}
}
@keyframes blinkBlue {
	from { background-color:#13d7ec;}
	50% { background-color : #40bfff; box-shadow : rgba (0,0,0,0.2) 0 -1px 7px 1px, inset #185258 0 -1px 9px, #18254a 0 2px 0;}
	to { background-color: #78a9ad;}
}


.timepicker_wrap {
    z-index: 998;
}
.hold_words {
    color: black;
    font-size: 2em;
}

.te_tx,
.ti_tx,
.mi_tx{
    /* width: 5em; */
    text-align: center;
    /* overflow: hidden; */
}
input{
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    color: #68b8ff;
    font-size: 3em;
    line-height: 100%;
    -webkit-appearance: none;
    display: block;
    float: left;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    padding: 0;
}
.save{
    font-size: 4em;
    color: #08fd86;
    cursor: pointer;
    background-color: rgb(45, 56, 93);
    border-radius: 40px;
}
#hvac_updating{
	display: inline-block
}
#hvac_time_set{
	display: inline-block;
}
#hvac_box{
	display: inline-flex;
}

.temp,
.time,
.mins {
    width: 4em;
    /* float: left; */
    display: inline-block;
    /* margin: 0px 50px; */
    font-size: 1.5em;
    color: #f71f95;
    /* font-family: arial; */
    font-weight: 700;
}

.prev,
.next {
    cursor: pointer;
    margin: auto;
    font-size: 2.5em;
}
.prev:hover,
.save:hover,
.next:hover {
	color: #ff8000;
}

/* Outer */
.popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
}
 
/* Inner */
.popup-inner {
    max-width: 700px;
    /* width: 90%; */
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 6px rgba(0,0,0,1);
    border-radius: 3px;
    background: #fff;
}
 
/* Close Button */
.popup-close {
    width: 60px;
    height: 60px;
    padding-top: 4px;
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    transition: ease 0.25s all;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    border-radius: 1000px;
    background: rgba(255,0,0,0.8);
    font-family: Arial, Sans-Serif;
    font-size: 3em;
    text-align: center;
    line-height: 100%;
    color: #fff;
}
 
.popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background: rgba(255,0,0,0.8);
    text-decoration:none;
}
